<br>
<div class="container">
  <table class="table table-bordered text-center">
    <h5>Applications</h5>
    <thead class="thead-dark">
      <th>Post Title</th>
      <th><%= user_signed_in? ? "Company" : "Candidate" %></th>
      <% if company_signed_in? %>
      <th>Status</th>
      <% end %>
      <th>Message</th>
    </thead>
    <tbody>
    <% if @applies.present? %>
      <% @applies.each do |apply| %>
      <tr>
        <td><%= link_to apply.post.title, post_path(apply.post_id)%></td>
        <% if user_signed_in? %>
          <td><%= link_to apply.post.company.name, company_path(apply.post.company_id)%></td>
        <% end %>
        <% if company_signed_in? %>
        <td><%= link_to apply.user.first_name, user_path(apply.user_id)%></td>
        <td>
          <button type="button" class = "btn" data-toggle="modal" data-target = "#statusModal"><%= apply.status %></button>
        </td>
        <% end %>
        <td class="text-center">
          <%= link_to(apply_apply_messages_path(apply.id)) do %>
          <button type="button" class = "btn btn-primary p-1" style="width:60px">
            <i class="far fa-envelope"></i>
              <span class="badge badge-light">
                <%= company_signed_in? ? apply.apply_messages.where(read: false, user_id: apply.user_id).count : apply.apply_messages.where(read: false, company_id: apply.post.company_id).count %>
              </span>
          </button>
          <% end %>
        </td>
      </tr>
        <div class="modal" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: 'edit', locals: { apply: apply } %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% else %>
      <tr>
        <td colspan=<%= user_signed_in? ? "3" : "4" %>>
          <strong>Currently there are no applications.</strong>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
