<fieldset>
  <div class="border rounded bg-light p-2 form-group">
    <h5>Education<span class="users_child_index"><%= f.index + 1 %><span></h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :school_name %>
          <span class="badge badge-sm badge-info">Required</span>
          <%= f.text_field :school_name, class: "form-control", placeholder: "School Name",required: true %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :major %>
          <%= f.text_field :major, class: "form-control", placeholder: "Major" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-auto">
          <%= f.label :period_start %>
          <div class="form-inline">
            <%= f.datetime_select :period_start,
            {
              include_blank: true,
              default: nil,
              start_year: 1970,
              end_year: 2020,
              discard_day: true,
              discard_hour: true },
              class: "form-control" %>
          </div>
        </div>
        <div class="form-group col-auto">
          <%= f.label :period_end %>
          <div class="form-inline">
            <%= f.datetime_select :period_end,
            {
              include_blank: true,
              default: nil,
              start_year: 1970,
              end_year: 2020,
              discard_day: true,
              discard_hour: true},
              class: "form-control" %>
          </div>
        </div>

          </div>
          <div class="text-right">
            <%= f.hidden_field :_destroy %>
            <%= link_to "Delete", '#', class: "remove_fields btn btn-danger btn-sm" %>
          </div>
        </div>
      </fieldset>
