<fieldset>
  <div class="border rounded bg-light p-2 form-group">
  <h5>Qualification<span class="users_child_index"><%= f.index + 1 %><span></h5>
    <div class="form-row">
      <div class="col-auto">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control",required: true %>
      </div>
      <div class="col-auto">
        <%= f.label :date_of_acquisition %>
        <div class="form-inline">
          <%= f.datetime_select :date_of_acquisition,
          {
            include_blank: true,
            default: nil,
            start_year: 1970,
            end_year: 2020,
            discard_day: true,
            discard_hour: true},
            class: "form-control",
            required: true %>
        </div>
      </div>

    </div>
  <div class="text-right">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Delete", '#', class: "remove_fields btn btn-danger btn-sm" %>
  </div>
  </div>
</fieldset>
