<fieldset>
  <h3>Work Experience<span class="users_child_index"><%= f.index + 1 %><span></h3>
  <%= f.label :company %>
  <%= f.text_field :company %>
  <%= f.label :position %>
  <%= f.text_field :position %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :salary %>
  <%= f.text_field :salary %>

  <%= f.label :period_start %>
  <%= f.datetime_select :period_start,
  {
    include_blank: true,
    default: nil,
    start_year: 1970,
    end_year: 2020,
    discard_day: true,
    discard_hour: true} %>
  <%= f.label :period_end %>
  <%= f.datetime_select :period_end,
   {
    include_blank: true,
    default: nil,
    start_year: 1970,
    end_year: 2020,
    discard_day: true,
    discard_hour: true,
    include_blank: true} %>
  <%= f.label :currently_employed %>
  <%= f.check_box :currently_employed %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "削除", '#', class: "remove_fields" %>
</fieldset>
