<div class="container">
  <!-- プロフィール -->
  <div class="card mt-4 mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          User Profile
        </div>
        <div class="col text-right">
          <%= link_to 'Show', user_path %>
          <%= link_to 'Edit', edit_user_path %>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="m-3">
          <%= image_tag @user.image.url, class: 'img-thumbnail d-block mx-auto m-4' if @user.image.present? %>
          <%= image_tag("default_image.jpeg", class: 'img-thumbnail d-block mx-auto m-4') unless @user.image.present? %>
        </div>
        <div class="pl-3">
          <h6 class="card-title"><%= @user.first_name + " " + @user.last_name if @user.first_name && @user.last_name %></h6>
          <div><small><%= @user.status %></small></div>
          <div><small><%= @user.age %> years old</small></div>
          <div><small><%= @user.gender %></small></div>
          <div><small><%= @user.email %></small></div>
          <div><small><%= @user.phone_number %></small></div>

          <p><%= @user.address %></p>
          <p><%= @user.race %></p>
          <p><%= @user.religion %></p>
          <%= link_to 'Edit Account', edit_user_registration_path %>
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <!-- Profile Field -->
      <div class="col-md-10">
        <div class="card-body">
          <div class="row">
            <!-- Left Side Card Area -->
            <div class="col-md-6">
              <!-- Left Side Card 1 -->
              <div class="card mb-2">
                <div class="card-header p-2 bg-dark text-white">
                  <strong>Preference</strong>
                </div>
                <div class="card-body p-2">
                  <div class="mb-2">
                    <strong>Job Category: </strong>
                    <% @user.job_categories.each do |job_category| %>
                    <%= job_category.name %>
                    <% end %>
                  </div>
                  <div class="mb-2">
                    <strong>Industry: </strong>
                    <% @user.industries.each do |industry| %>
                    <%= industry.name %>
                    <% end %>
                  </div>
                  <div>
                    <strong>Expected Salary: </strong>
                    <%= @user.expected_salary %>
                  </div>
                </div>
              </div>
              <!-- Left Side Card 2 -->
              <div class="card mb-2">
                <div class="card-header p-2 bg-dark text-white">
                  <strong>Skill</strong>
                </div>
                <div class="card-body p-2">
                  <div class="mb-2">
                    <strong>Language:</strong>
                    <% @user.languages.each do |language| %>
                    <%= language.name %>
                    <span class = "badge badge-primary"><%= language.level %></span>
                    <% end %>
                  </div>
                  <div class="mb-2">

                    <strong>Skill:</strong>
                    <% @user.user_skills.each do |user_skill| %>
                    <span class="badge badge-light"><%= user_skill.name %></span>
                    <% end %>
                  </div>
                  <div class="mb-2">
                    <strong>
                      Qualification:
                    </strong>
                    <% @user.qualifications.each do |qualification| %>
                    <span class="badge badge-light"><%= qualification.name %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right Side Card Area -->
            <div class="col-md-6">
              <!-- Right Side Card 1 -->
              <div class="accordion" id = "accordion">
              <div class="card mb-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-2 bg-dark text-white">
                    <strong>Education</strong>
                  </li>
                  <% @user.educations.each_with_index do |education,i| %>
                    <% if i + 1 == @user.educations.count %>
                      <li class="list-group-item">
                    <% else %>
                      <li class="list-group-item education collapse" aria-labelledby="headingOne" data-parent = "#accordion">
                    <% end %>
                      <%= education.school_name %>
                      <span class = "small"><%= education.major %></span>
                      <br>
                      <span class = "small">
                        <%= education.period_start.strftime("%b, %Y") if education.period_start.present? %>
                        ~
                        <%= education.period_end.strftime("%b, %Y") if education.period_start.present? %>
                      </span>
                    </li>
                  <% end %>
                  <!-- アコーディオンのButton -->
                  <% if @user.educations.count > 1 %>
                  <li class = "list-group-item text-right p-1">
                  <span
                  class="badge badge-secondary"
                  type="button"
                  data-toggle="collapse"
                  data-target=".education"
                  aria-expanded = "true"
                  aria-controls="collapseOne">
                    show more..
                  </span>
                </li>
                <% end %>
                </ul>
                </div>
              </div>
              <!-- Right Side Card 2 -->
              <div class="accordion" id = "accordion_2">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-2 bg-dark text-white">
                    <strong>Work Experience</strong>
                  </li>
                  <% @user.work_experiences.each_with_index do |work_experience,i| %>
                  <% if i + 1 == @user.work_experiences.count %>
                    <li class="list-group-item">
                  <% else %>
                    <li class="list-group-item work_experience collapse" aria-labelledby="headingOne" data-parent = "#accordion_2">
                  <% end %>

                    <%= work_experience.company %><br>
                    <span class = "small">
                      Period:
                      <%= work_experience.period_start.strftime("%b, %Y") if work_experience.period_start.present? %>
                      ~
                      <%= work_experience.period_end.strftime("%b, %Y") if work_experience.period_end.present? %>
                    </span>
                    </li>
                  <% end %>

                  <% if @user.work_experiences.count > 1 %>
                  <li class = "list-group-item text-right p-1">
                  <span
                  class="badge badge-secondary"
                  type="button"
                  data-toggle="collapse"
                  data-target=".work_experience"
                  aria-expanded = "true"
                  aria-controls="collapseOne">
                    show more..
                  </span>
                </li>
                <% end %>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- プロフィールここまで -->

  <div class="row mb-4">
    <!-- アプライ -->
    <div class="col">
      <div class="d-flex justify-content-between">
        <div class>
          <h5>Apply</h5>
        </div>
        <div class="text-right align-self-end">
          <%= link_to "show all", applies_path, class: "badge badge-primary" %>
        </div>
      </div>
      <table class = "table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Company</th>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <% @user.applies.limit(5).each do |apply| %>
        <tr>
          <td><%= link_to apply.post.company.name, company_path(apply.post.company_id) %></td>
          <td><%= link_to apply.post.title, post_path(apply.post_id) %></td>
          <td><%= link_to(apply_apply_messages_path(apply.id)) do %>
            <button type="button" class = "btn btn-primary">
              <span>
                <span class="small">Message </span><span class="badge badge-light"><%= apply.apply_messages.where(read: false, company_id: apply.post.company_id).count %></span>
              </span>
            </button>
            <% end %>
            <small><%= apply.created_at.strftime("%d %b") %></small>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <!-- アプライここまで -->
    <!-- スカウト -->
    <div class="col">
      <div class="d-flex justify-content-between">
        <div class>
          <h5>Scout</h5>
        </div>
        <div class="text-right align-self-end">
          <%= link_to "show all", scouts_path, class: "badge badge-primary" %>
        </div>
      </div>
      <table class = "table table-bordered">
        <thead class = "thead-dark">
          <tr>
            <th>Company</th>
            <th>Title</th>
          </tr>
        </thead>
        <% @user.scouts.limit(5).each do |scout| %>
        <tr>
          <td><%= link_to scout.company.name, company_path(scout.company_id) %></td>
          <td><%= link_to(scout_scout_messages_path(scout.id)) do %>
            <button type="button" class = "btn btn-primary">
              <span>
              <span class="small">Message </span><span class="badge badge-light"><%= scout.scout_messages.where(read: false, company_id: scout.company_id).count %></span>
              </span>
            </button>
            <% end %>
              <small><%= scout.created_at.strftime("%d %b") %></small>
          </td>
        </tr>
        <% end %>
      </table>
      </div>
    </div>
    <!-- スカウトここまで -->

  <div class="row">
    <!-- LikePost -->
    <div class="col">
      <div class="d-flex justify-content-between">
      <div class>
        <h5>LikePost</h5>
      </div>
        <div class="text-right align-self-end">
        <%= link_to "show all", like_posts_path, class: "badge badge-primary" %>
      </div>
    </div>
      <table class = "table table-bordered">
        <thead class ="thead-dark">
          <tr>
            <th>Company</th>
            <th>Title</th>
            <th>Created At</th>
          </tr>
        </thead>
        <% @user.like_posts.limit(5).each do |like_post| %>
        <tr>
          <td><%= link_to like_post.post.company.name, company_path(like_post.post.company_id) %></td>
          <td><%= link_to like_post.post.title, post_path(like_post.post_id) %></td>
          <td><%= like_post.created_at.strftime("%d %b, %Y") %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <!-- Follow -->
    <div class="col">
      <div class="d-flex justify-content-between">
        <div class>
          <h5>Followed Company</h5>
        </div>
        <div class="text-right align-self-end">
          <%= link_to "show all", follows_path, class: "badge badge-primary" %>
        </div>
      </div>
      <table class = "table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Company</th>
            <th>Title</th>
          </tr>
        </thead>
        <% @user.follows.limit(5).each do |follow| %>
        <tr>
          <td><%= link_to follow.company.name, company_path(follow.company_id) %></td>
          <td><%= follow.created_at.strftime("%d %b, %Y") %></td>
        </tr>
        <% end %>
      </table>
    </div>
    </div>

</div>
