<div class ="container">
      <% @users.each do |user| %>
      <div class="container">
        <div class="card mb-3">
          <div class="card-header">
            User Profile
          </div>
          <div class="row no-gutters">
            <div class="col-md-2">

              <div class="">
                <%= image_tag user.image.url, class: 'img-thumbnail d-block mx-auto m-4' if user.image.present? %>
                <%= image_tag("default_image.jpeg", class: 'img-thumbnail d-block mx-auto m-4') unless user.image.present? %>
              </div>
              <div class="pl-3">
                <h6 class="card-title"><%= user.first_name + " " + user.last_name if user.first_name && user.last_name %></h6>
                <p>
                  <%= link_to "detail", user_path(user.id) %>
                </p>
                <p>
                  <%= user.email %>
                </p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Date of Birth</h6>
                        <p class="card-text"><%= user.date_of_birth.strftime("%d %b, %Y") if user.date_of_birth %></p>
                      </div>
                    </div>

                    <p><%= user.phone_number %></p>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Job Category</h6>
                        <p class="card-text  badge badge-light">
                          <% user.job_categories.each do |job_category| %>
                          <%= job_category.name %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Desired industry</h6>
                        <p class="card-text badge badge-light">
                          <% user.industries.each do |industry| %>
                          <%= industry.name %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Education</h6>
                          <% user.educations.each do |education| %>
                          <p class="card-text">
                            <%= education.school_name %>
                            <br>
                            <span class = "small">
                            <%= education.period_start.strftime("%b, %Y") if education.period_start.present? %>
                            ~
                            <%= education.period_end.strftime("%b, %Y") if education.period_start.present? %>
                            </span>
                          </p>
                          <% end %>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Work Experience</h6>
                        <% user.work_experiences.each do |work_experience| %>
                        <p class="card-text">
                          <%= work_experience.company %><br>
                          <span class = "small">
                            Period:
                            <%= work_experience.period_start.strftime("%b, %Y") if work_experience.period_start.present? %>
                            ~
                            <%= work_experience.period_end.strftime("%b, %Y") if work_experience.period_end.present? %>
                          </span>
                        </p>
                        <% end %>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Skill</h6>
                        <p class="card-text">
                          <% user.user_skills.each do |user_skill| %>
                          <span class="badge badge-light"><%= user_skill.name %></span>
                          <% end %>
                        </p>
                      </div>
                    </div>
                    <p><%= user.expected_salary %></p>
                  </div>
                </div>
                <div class="row">
                  <p>Description</p>
                  <p class="card-text"><%= user.description %></p>

                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <% end %>

  </div>
</div>
