<div class ="container">
  <div class="row">
    <!-- Side Bar -->
    <nav class="col-md-2 d-none d-md-block bg-white mr-2">
      <div>
        <h5 class="d-flex justify-content-between align-items-center mt-4 mb-1 text-muted">
          <span>Search & Filter</span>
        </h5>
          <%= search_form_for @q do |f| %>
          <ul class="nav">
            <li><%= f.label :work_experiences_company_cont, "Key Word", class: "nav-item" %></li>
            <li>
              <%= f.search_field :work_experiences_company_or_educations_school_name_or_educations_major_or_user_skills_name_cont,
              {class: "form-control nav-item", placeholder: "Search"} %>
            </li>
          </ul>

          <a href="#industrySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Industry
          </a>
          <ul class="collapse list-unstyled" id="industrySubmenu">
            <% @industries.each do |industry| %>
            <li>
              <%= f.check_box :industries_id_in, {multiple: true, include_hidden: false}, industry.id %>
              <%= f.label :industries_id_in, industry.name %>
            </li>
            <% end %>
          </ul>

          <a href="#jobcategorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Job Category
          </a>
          <ul class="collapse list-unstyled" id="jobcategorySubmenu">
            <% @job_categories.each do |job_category| %>
            <li>
              <%= f.check_box :job_categories_id_in, {multiple: true, include_hidden: false}, job_category.id %>
              <%= job_category.name %>
            </li>
            <% end %>
          </ul>

          <a href="#salarySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Expected Salary
          </a>
          <div class="collapse list-unstyled" id="salarySubmenu">
            <div class="row">
              <div class="col-2">
                Min
              </div>
              <div class="col-10">
                <%= f.number_field :expected_salary_gteq, {class: "form-control"} %>
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-2">
                Max
              </div>
              <div class="col-10">
                <%= f.number_field :expected_salary_lt, {class: "form-control"} %>
              </div>
            </div>
          </div>

          <a href="#genderSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <%= f.label :gender %>
          </a>
          <ul class="collapse list-unstyled" id="genderSubmenu">
            <li>
              <%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
            </li>
            <li>
              <%= f.radio_button :gender_eq, "Male" %>Male
            </li>
            <li>
              <%= f.radio_button :gender_eq, "Female" %>Female
            </li>
          </ul>

          <li class="nav">
            <a href="#ageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <%= f.label :age %>
            </a>
          </li>
          <div class="collapse list-unstyled" id="ageSubmenu">
            <div class="row">
              <div class="col-2">
                Min
              </div>
              <div class="col-10">
                <%= f.number_field :date_of_birth_to_age_gteq, {class: "form-control"} %>
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-2">
                Max
              </div>
              <div class="col-10">
                <%= f.number_field :date_of_birth_to_age_lteq, {class: "form-control"} %>才以上
              </div>
            </div>
          </div>

          <li class="nav">
          <a href="#statusSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <%= f.label :status %>
          </a>
          </li>
          <ul class="collapse list-unstyled" id="statusSubmenu">
            <li>
              <%= f.select :status_eq ,["Actively Looking","Closed","Open for Opportunity"],include_blank: true, class: "form-control" %>
            </li>
          </ul>

          <li class="nav">
            <a href="#languageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <%= f.label :language %>
            </a>
          </li>
          <ul class="collapse list-unstyled" id="languageSubmenu">
            <li>
              <%= f.search_field :languages_name_cont, class: "form-control" %>
            </li>
            <li>
              <%= f.select :languages_level_eq, Language.levels, include_blank: true, class: "form-control" %>
            </li>
          </ul>

          <%= f.submit "Search", class: "btn btn-success my-2 my-sm-0" %>

          <% end %>

      </div>
    </nav>
    <!-- Side Bar Until Here  -->
    <div class="col">
      <div class="container">
        <% n = 1 %>
        <%= paginate @users %>
        <% @users.each do |user| %>
        <div class="card mb-2">
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="m-3">
                <%= image_tag user.image.url, class: 'img-thumbnail',width: "150" if user.image.present? %>
                <%= image_tag("default_image.jpeg", class: 'img-thumbnail',width: "150") unless user.image.present? %>
              </div>
              <div class="pl-3">
                <h6 class="card-title"><%= user.first_name + " " + user.last_name if user.first_name && user.last_name %></h6>
                <div><small><%= user.status %></small></div>
                <div><small><%= user.age %> years old</small></div>
                <div><small><%= user.email %></small></div>
                <div><small><%= user.phone_number %></small></div>
                <div><small><%= link_to "detail", user_path(user.id) %></small></div>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <div class="row">
                  <!-- Left Side Card Area -->
                  <div class="col-md-6">
                    <!-- Left Side Card 1 -->
                    <div class="card mb-2">
                      <div class="card-header p-2 bg-dark text-white">
                        <strong>Preference</strong>
                      </div>
                      <div class="card-body p-2">
                        <div class="mb-2">
                          <strong>Job Category: </strong>
                          <% user.job_categories.each do |job_category| %>
                          <%= job_category.name %>
                          <% end %>
                        </div>
                        <div class="mb-2">
                          <strong>Industry: </strong>
                          <% user.industries.each do |industry| %>
                          <%= industry.name %>
                          <% end %>
                        </div>
                        <div>
                          <strong>Expected Salary: </strong>
                          <%= user.expected_salary %>
                        </div>
                      </div>
                    </div>
                    <!-- Left Side Card 2 -->
                    <div class="card mb-2">
                      <div class="card-header p-2 bg-dark text-white">
                        <strong>Skill</strong>
                      </div>
                      <div class="card-body p-2">
                        <div class="mb-2">
                          <strong>Language:</strong>
                          <% user.languages.each do |language| %>
                          <%= language.name %>
                          <span class = "badge badge-primary"><%= language.level %></span>
                          <% end %>
                        </div>
                        <div class="mb-2">

                          <strong>Skill:</strong>
                          <% user.user_skills.each do |user_skill| %>
                          <span class="badge badge-light"><%= user_skill.name %></span>
                          <% end %>
                        </div>
                        <div class="mb-2">
                          <strong>
                            Qualification:
                          </strong>
                          <% user.qualifications.each do |qualification| %>
                          <span class="badge badge-light"><%= qualification.name %></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Right Side Card Area -->
                  <div class="col-md-6">
                    <!-- Right Side Card 1 -->
                    <div class="accordion" id = "accordion">
                    <div class="card mb-2">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item p-2 bg-dark text-white">
                          <strong>Education</strong>
                        </li>
                        <% user.educations.each_with_index do |education,i| %>
                          <% if i + 1 == user.educations.count %>
                            <li class="list-group-item">
                          <% else %>
                            <li class="list-group-item education_user_<%= n %> collapse" aria-labelledby="headingOne" data-parent = "#accordion">
                          <% end %>
                            <%= education.school_name %>
                            <span class = "small"><%= education.major %></span>
                            <br>
                            <span class = "small">
                              <%= education.period_start.strftime("%b, %Y") if education.period_start.present? %>
                              ~
                              <%= education.period_end.strftime("%b, %Y") if education.period_start.present? %>
                            </span>
                          </li>
                        <% end %>
                        <!-- アコーディオンのButton -->
                        <% if user.educations.count > 1 %>
                        <li class = "list-group-item text-right p-1">
                        <span
                        class="badge badge-secondary"
                        type="button"
                        data-toggle="collapse"
                        data-target=".education_user_<%= n %>"
                        aria-expanded = "true"
                        aria-controls="collapseOne">
                          show more..
                        </span>
                      </li>
                      <% end %>
                      </ul>
                      </div>
                    </div>
                    <!-- Right Side Card 2 -->
                    <div class="accordion" id = "accordion_2">
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item p-2 bg-dark text-white">
                          <strong>Work Experience</strong>
                        </li>
                        <% user.work_experiences.each_with_index do |work_experience,i| %>
                        <% if i + 1 == user.work_experiences.count %>
                          <li class="list-group-item">
                        <% else %>
                          <li class="list-group-item work_experience_user_<%= n %> collapse" aria-labelledby="headingOne" data-parent = "#accordion_2">
                        <% end %>

                          <%= work_experience.company %><br>
                          <span class = "small">
                            Period:
                            <%= work_experience.period_start.strftime("%b, %Y") if work_experience.period_start.present? %>
                            ~
                            <%= work_experience.period_end.strftime("%b, %Y") if work_experience.period_end.present? %>
                          </span>
                          </li>
                        <% end %>

                        <% if user.work_experiences.count > 1 %>
                        <li class = "list-group-item text-right p-1">
                        <span
                        class="badge badge-secondary"
                        type="button"
                        data-toggle="collapse"
                        data-target=".work_experience_user_<%= n %>"
                        aria-expanded = "true"
                        aria-controls="collapseOne">
                          show more..
                        </span>
                      </li>
                      <% end %>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% n += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
