<div class ="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <%= search_form_for @q do |f| %>
            <li><%= f.label :work_experiences_company_cont, "Key Word", class: "nav-item" %></li>
            <%= f.search_field :work_experiences_company_or_educations_school_name_or_educations_major_or_user_skills_name_cont,
            {class: "form-control nav-item", placeholder: "Search"} %>

            <%= f.label :industries_id_in, "Industryを含む" %>
            <% @industries.each do |industry| %>
              <br>
              <%= f.check_box :industries_id_in, {multiple: true, include_hidden: false}, industry.id %>
              <%= industry.name %>
            <% end %>
            <br>
            <%= f.label :job_categories_id_in, "Job Categoryを含む" %>
            <% @job_categories.each do |job_category| %>
              <br>
              <%= f.check_box :job_categories_id_in, {multiple: true, include_hidden: false}, job_category.id %>
              <%= job_category.name %>
            <% end %>
            <br>
            <%= f.label :expected_salary %>
            <%= f.number_field :expected_salary_gteq, {class: "form-control"} %>以上〜
            <%= f.number_field :expected_salary_lt, {class: "form-control"} %>未満
            <br>
            <%= f.label :gender %>
            <br>
            <%= f.radio_button :gender_eq, '', {:checked => true} %>指定なし
            <%= f.radio_button :gender_eq, "Male" %>男性
            <%= f.radio_button :gender_eq, "Female" %>女性
            <br>
            <%= f.label :age %>
            <br>
            <%= f.number_field :date_of_birth_to_age_gteq, {class: "form-control"} %>才以上
            <%= f.number_field :date_of_birth_to_age_lteq, {class: "form-control"} %>才以上
            <br>
            <%= f.label :status %>
            <%= f.select :status_eq ,["Actively Looking","Closed","Open for Opportunity"],include_blank: true, class: "form-control" %>

            <br>
            <%= f.label :language %>
            <%= f.search_field :languages_name_cont, class: "form-control" %>
            <%= f.select :languages_level_eq, Language.levels, include_blank: true, class: "form-control" %>

            <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>

            <% end %>
        </ul>

      </div>
    </nav>
    <div class="col">
      <div class="container">
        <%= paginate @users %>
        <% @users.each do |user| %>
        <div class="card mb-2">
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="m-3">
                <%= image_tag user.image.url, class: 'img-thumbnail d-block' if user.image.present? %>
                <%= image_tag("default_image.jpeg", class: 'img-thumbnail d-block') unless user.image.present? %>
              </div>
              <div class="pl-3">
                <h6 class="card-title"><%= user.first_name + " " + user.last_name if user.first_name && user.last_name %></h6>
                <div><small><%= user.status %></small></div>
                <div><small><%= user.age %> years old</small></div>
                <div><small><%= user.email %></small></div>
                <div><small><%= user.phone_number %></small></div>
                <div><small><%= link_to "detail", user_path(user.id) %></small></div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <small class="text-muted">Last updated 3 mins ago</small>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card mb-2">
                      <div class="card-body">
                        <h6 class="card-title">Preference</h6>
                        <div class="mb-2">
                          <strong>Job Category: </strong>
                          <% user.job_categories.each do |job_category| %>
                          <%= job_category.name %>
                          <% end %>
                        </div>
                        <div class="mb-2">
                          <strong>Industry: </strong>
                          <% user.industries.each do |industry| %>
                          <%= industry.name %>
                          <% end %>
                        </div>
                        <div>
                        <strong>Expected Salary: </strong>
                        <%= user.expected_salary %>
                      </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Skill</h6>
                        <div class="mb-2">
                        <% user.languages.each do |language| %>
                          <%= language.name %>
                          <span class = "badge badge-primary"><%= language.level %></span>
                        <% end %>
                      </div>
                        <% user.user_skills.each do |user_skill| %>
                        <span class="badge badge-light"><%= user_skill.name %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card mb-2">
                      <div class="card-body">
                        <h6 class="card-title">Education</h6>
                        <% user.educations.each do |education| %>
                          <div class="">

                          <%= education.school_name %>
                          <span class = "small"><%= education.major %></span>
                          <span class = "small">
                            <%= education.period_start.strftime("%b, %Y") if education.period_start.present? %>
                            ~
                            <%= education.period_end.strftime("%b, %Y") if education.period_start.present? %>
                          </span>
                        </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Work Experience</h6>
                        <% user.work_experiences.each do |work_experience| %>
                        <p class="card-text">
                          <%= work_experience.company %><br>
                          <span class = "small">
                            Period:
                            <%= work_experience.period_start.strftime("%b, %Y") if work_experience.period_start.present? %>
                            ~
                            <%= work_experience.period_end.strftime("%b, %Y") if work_experience.period_end.present? %>
                          </span>
                        </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
