<div class ="container">
  <h4><%= @user.first_name %>のページ</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          プロフィール
        </div>
        <div class="col-xs-6 text-right">
          <% if current_user == @user %>
            <%= link_to t('view.edit'), edit_user_registration_path %>
          <% end %>

          <% if company_signed_in? %>
            <% if current_company.scouts.pluck(:user_id).include?(@user.id) %>
            "スカウト済み"
            <%= link_to "スカウト解除", scout_path(user_id: @user.id), method: :delete %>
            <% else %>
            <%= link_to "スカウトする", scouts_path(scout:{user_id: @user.id, company_id: current_company.id}), method: :post %>
            <% end %>
          <% end %>

          <% if company_signed_in? %>
            <% if current_company.like_users.pluck(:user_id).include?(@user.id) %>
              <%= link_to "Like", like_user_path(user_id: @user.id), method: :delete %>
            <% else %>
              <%= link_to "Unlike", like_users_path(like_user:{user_id: @user.id, company_id: current_company.id}), method: :post %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <table class="table panel-body">
      <tr>
        <th><%= t('view.user_name') %>:</th>
        <td><%= @user.first_name %> <%= @user.last_name %></td>
      </tr>
      <tr>
        <th><%= t('view.user_email') %>:</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= t('view.gender') %>:</th>
        <td><%= @user.gender %></td>
      </tr>
      <tr>
        <th><%= t('view.date_of_birth') %>:</th>
        <td><%= @user.date_of_birth %></td>
      </tr>
      <tr>
        <th><%= t('view.expected_salary') %>:</th>
        <td><%= @user.expected_salary %></td>
      </tr>
      <tr>
        <th><%= t('view.status') %>:</th>
        <td><%= @user.status %></td>
      </tr>
      <tr>
        <th><%= t('view.description') %>:</th>
        <td><%= @user.description %></td>
      </tr>
      <tr>
        <th><%= t('view.address') %>:</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th><%= t('view.phone_number') %>:</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th><%= t('view.race') %>:</th>
        <td><%= @user.race %></td>
      </tr>
      <tr>
        <th><%= t('view.religion') %>:</th>
        <td><%= @user.religion %></td>
      </tr>
      <tr>
        <th><%= t('view.language') %>:</th>
        <td><%= @user.religion %></td>
      </tr>

      <tr>
        <th>language</th>
        <td>
          <% @user.languages.each do |language| %>
          <%= language.name %>
          <span class = "small"><%= language.level %></span>
          <% end %>
        </td>
      </tr>

    </table>
  </div>
</div>
