<div class ="container">
  <h4><%= @user.first_name %>のページ</h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th colspan="4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="ml-3">
                プロフィール
              </div>
              <div class="mr-3">
            <% if current_user == @user %>
              <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#edit_basic_profile_Modal">Edit Basic Profile</button>
              <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#upload_cv_Modal">Upload CV</button>
              <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#upload_profile_image_Modal">Upload Profile Image</button>
            <% end %>
            <% if company_signed_in? %>
              <% if current_company.scouts.pluck(:user_id).include?(@user.id) %>
              <%= link_to "スカウト解除", scout_path(user_id: @user.id), method: :delete, class:"btn btn-danger" %>
              <% else %>
              <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#new_scout_Modal">スカウトする</button>
              <% end %>
            <% end %>

            <% if company_signed_in? %>
              <% if current_company.like_users.pluck(:user_id).include?(@user.id) %>
                <%= link_to(like_user_path(user_id: @user.id), method: :delete) do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to(like_users_path(like_user:{user_id: @user.id, company_id: current_company.id}), method: :post) do %>
                <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
            </div>

          </div>
          </th>
        </tr>
      </thead>
      <tr>
        <th class="align-middle">User Name:</th>
        <td class="w-25 align-middle"><%= @user.first_name %> <%= @user.last_name %></td>
        <th rowspan="2">Profile Image:</th>
        <td rowspan="2"><%= image_tag(@user.image.url, class: "img-thumbnail img-fluid", width: "100px") if @user.image.present? %></td>
      </tr>
      <tr>
        <th class="align-middle">Age:</th>
        <td class="w-25 align-middle"><%= @user.age %></td>
      </tr>
      <tr>
        <th class="w-25"><%= t('view.gender') %>:</th>
        <td class="w-25"><%= @user.gender %></td>
        <th><%= t('view.status') %>:</th>
        <td><%= @user.status %></td>
      </tr>
      <tr>
        <th><%= t('view.expected_salary') %>:</th>
        <td><%= @user.expected_salary %></td>
        <th>CV</th>
        <td>
          <%= @user.cv.present? ? link_to("Download", @user.cv.url) : "N/A" %>
        </td>
      </tr>
      <tr>
        <th><%= t('view.race') %>:</th>
        <td><%= @user.race %></td>
        <th><%= t('view.religion') %>:</th>
        <td><%= @user.religion %></td>
      </tr>
      <tr>
        <th><%= t('view.description') %>:</th>
        <td colspan="3"><%= simple_format(@user.description) %></td>
      </tr>
      <tr>
        <th>Desired Industries:
          <% if current_user == @user %>
          <button id = "edit_industry" class = "ml-2 btn btn-sm btn-primary" data-toggle="modal" data-target = "#edit_industry_Modal">Edit</button>
          <% end %>
        </th>
        <td>
          <% @user.industries.each do |industry|%>
            <%= industry.name %>
          <% end %>
        </td>
        <th>Desired Job Category:
          <% if current_user == @user %>
          <button class = "ml-2 btn btn-sm btn-primary" data-toggle="modal" data-target = "#edit_job_category_Modal">Edit</button>
          <% end %>
        </th>
        <td><% @user.job_categories.each do |job_category| %>
          <%= job_category.name %>
          <% end %>
        </td>
      </tr>
    </table>

  <% if current_user == @user %>
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#edit_work_experience_Modal">Edit Work Experience</button>
  <% end %>
  <% @user.work_experiences.each_with_index do |work_experience,i| %>
    <table class="table table-bordered mt-3 mb-3">
      <thead class="thead-dark">
        <tr>
          <th colspan="4">
            Work Experience <%= i + 1 %>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th class="w-25">Company</th>
        <td class="w-25"><%= work_experience.company %></td>
        <th class="w-25">Period</th>
        <td class="w-25"><%= work_experience.period_start.strftime("%b, %Y") if work_experience.period_start.present? %>
        ~
        <%= work_experience.period_end.strftime("%b, %Y") if work_experience.period_end.present? %></td>
      </tr>
      <tr>
        <th><strong>Position:</strong></th>
        <td><%= work_experience.position %></td>
        <th><strong>Salary:</strong></th>
        <td><%= work_experience.salary %></td>
      </tr>

      <tr>
        <th>Description</th>
        <td colspan="3"><%= simple_format(work_experience.description) %></td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <% if current_user == @user %>
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target = "#edit_education_Modal">Edit Education</button>
  <% end %>
  <table class="table table-bordered mt-3 mb-3">
    <thead class="thead-dark">
      <tr>
        <th colspan="6">
          Education
        </th>
      </tr>
    </thead>
    <tbody>
      <% @user.educations.each_with_index do |education,i| %>
      <tr>
        <th>School</th>
        <td><%= education.school_name %></td>
        <th>Major</th>
        <td><%= education.major %></td>
        <th>Period</th>
        <td><%= education.period_start.strftime("%b, %Y") if education.period_start.present? %>
        ~
        <%= education.period_end.strftime("%b, %Y") if education.period_end.present? %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered mt-3 mb-3">
    <thead class="thead-dark">
      <tr>
        <th colspan="6">
          Skill & Qualification & Language
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Skill
          <% if current_user == @user %>
          <button class = "ml-2 btn btn-sm btn-primary" data-toggle="modal" data-target = "#edit_skill_Modal">Edit</button>
          <% end %>
        </th>
        <td colspan="2">
          <% @user.user_skills.each do |skill| %>
          <button class="badge badge-primary"><%= skill.name %></button>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Qualification
          <% if current_user == @user %>
            <button class = "ml-2 btn btn-sm btn-primary" data-toggle="modal" data-target = "#edit_qualification_Modal">Edit</button>
          <% end %>
        </th>
        <% @user.qualifications.each do |qualification| %>
        <td><%= qualification.name %></td>
        <td><%= qualification.date_of_acquisition.strftime("%b, %Y") if qualification.date_of_acquisition.present? %></td>
        <% end %>
      </tr>
      <tr>
        <th>Language <button class = "ml-2 btn btn-sm btn-primary" data-toggle="modal" data-target = "#edit_language_Modal">Edit</button></th>
        <td>
          <% @user.languages.each do |language| %>
          <%= language.name %>
          <span class = "small"><%= language.level %></span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- modal upload profile image -->
<div class="container-fluid">
  <div class="modal" id="upload_profile_image_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="upload_profile_image_Modal">
            Upload Profile Image
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "upload_image" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal upload cv -->
<div class="container-fluid">
  <div class="modal" id="upload_cv_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="upload_cv_Modal">
            Upload Profile Image
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "upload_cv" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit basic profile -->
<div class="container-fluid">
  <div class="modal" id="edit_basic_profile_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_basic_profile_Modal">
            Edit Basic Profile
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "basic_profile" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal industry -->
<div class="container-fluid">
  <div class="modal" id="edit_industry_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_industry_Modal">
            Edit Basic Profile
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "industry" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal job category -->
<div class="container-fluid">
  <div class="modal" id="edit_job_category_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_job_category_Modal">
            Edit Job Category
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "job_category" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit work experience -->
<div class="container-fluid">
  <div class="modal" id="edit_work_experience_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_work_experience_Modal">
            Edit Work Experience
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "work_experience" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit job education -->
<div class="container-fluid">
  <div class="modal" id="edit_education_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_education_Modal">
            Edit Work Experience
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "education" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit skill -->
<div class="container-fluid">
  <div class="modal" id="edit_skill_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_skill_Modal">
            Edit Language
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "skill" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit qualification -->
<div class="container-fluid">
  <div class="modal" id="edit_qualification_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_qualification_Modal">
            Edit Language
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "qualification" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit language -->
<div class="container-fluid">
  <div class="modal" id="edit_language_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="edit_language_Modal">
            Edit Language
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', edit_target: "language" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal new scout -->
<div class="container-fluid">
  <div class="modal" id="new_scout_Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="new_scout_Modal">
            Scout
          </div>
          <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @scout) do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <%= f.fields_for :scout_messages do |message_f| %>
              <div class="form-group">
                <%= message_f.label :body %>
                <%= message_f.text_area :body, class: "form-control" %>
              </div>
              <%= message_f.text_field :company_id, value: current_company.id, type: "hidden" if company_signed_in? %>
            <% end %>

            <%= f.text_field :company_id, value: current_company.id, type: "hidden" if company_signed_in? %>
            <%= f.text_field :user_id, value: params[:id], type: "hidden" %>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
