<div class="container">
  <table class="table table-bordered table-hover">
    <%= paginate @applies %>
    <h5>Applications</h5>
    <thead class="thead-dark">
        <th>ID</th>
        <th>Company</th>
        <th>Post Title</th>
        <th>User Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Message</th>
        <th>Action</th>
    </thead>
    <tbody>
    <% @applies.each do |apply| %>
      <% user = apply.user %>
      <tr>
        <td><%= apply.id %></td>
        <td><%= link_to apply.post.company.name || "No Name", company_path(apply.post.company_id) %></td>
        <td><%= link_to apply.post.title, post_path(apply.post_id) %></td>
        <td><%= link_to user.first_name || "No Name", user_path(user.id) %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td class="text-center">
          <%= link_to "Message", admin_apply_apply_messages_path(apply.id) %>
        </td>
        <td><%= link_to "Delete", admin_apply_path(apply.id), method: :delete, data:{confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
