<div class="container-fluid">
  <table class="table table-bordered">
    <%= paginate @posts %>
    <h5>Posts</h5>
    <thead class="thead-dark">
      <th>ID</th>
      <th>Company</th>
      <th>Title</th>
      <th>Position</th>
      <th>Location</th>
      <th>Job Category</th>
      <th>Industry</th>
      <th>Salary</th>
      <th>updated_at</th>
      <th>created_at</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= link_to post.company.name, company_path(post.company_id) %></td>
        <td><%= link_to post.title, post_path(post.id) %></td>
        <td><%= post.position %></td>
        <td><%= post.location %></td>
        <td>
          <% post.job_categories.each do |n| %>
          <span class="badge badge-primary">
            <%= n.name %>
          </span>
          <% end %>
        </td>
        <td>
          <% post.industries.each do |n| %>
          <span class="badge badge-primary">
            <%= n.name %>
          </span>
          <% end %>
        </td>
        <td>
          <%= post.salary %>
        </td>
        <td><%= post.updated_at.strftime("%Y%b%d") %></td>
        <td><%= post.created_at.strftime("%Y%b%d") %></td>
        <td>
          <div class="dropdown">
            <!-- 切替ボタン-->
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit
            </button>
            <!-- ドロップメニュー-->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to "Manage", manage_post_path(post.id), class: "dropdown-item" %>
              <%= link_to "Edit", edit_post_path(post.id), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Delete", admin_post_path(post.id), method: :delete, data:{ confirm: "Are you sure?"}, class: "dropdown-item" %>
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
