<div class="container">
  <div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col">
          Company Profile
        </div>
        <div class="col text-right">
          <%= link_to 'edit', edit_user_path %>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-2">

        <div class="">
          <%= image_tag @company.logo.url, class: 'img-thumbnail d-block mx-auto m-4' if @company.logo.present? %>
          <%= image_tag("default_image.jpeg", class: 'img-thumbnail d-block mx-auto m-4') unless @company.logo.present? %>
        </div>
        <div class="pl-3">
          <h6 class="card-title"><%= @company.name if @company.name %></h6>
          <p>
            <%= @company.email %>
          </p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Date of Birth</h6>
                  <p class="card-text"><%= @company.date_of_incorporation.strftime("%d %b, %Y") if @company.date_of_incorporation %></p>
                </div>
              </div>

              <p><%= @company.phone_number %></p>

              <br>
            </div>
            <div class="col-md-6">

            </div>
          </div>
          <div class="row">
            <p>Description</p>
            <p class="card-text"><%= @company.number_of_employees %></p>

            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>title</th>
      <th></th>
      <th></th>
    </tr>
    <% @company.posts.each do |post| %>
    <tr>
      <td>
        <%= link_to "#{post.title}", post_path(post.id) %>
      </td>
      <td>
        <%= link_to "edit", edit_post_path(post.id) %>
      </td>
      <td>
        <%= link_to "delete", post_path(post.id), method: :delete, data:{ confirm: "Are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "new post", new_post_path %>


<%= link_to 'edit registration', edit_company_registration_path %>
