<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'sidebar' %>
    <!-- Sidebar until here  -->
    <div class = "col-md-9">
      <h3>Company List</h3>
      <%= paginate @companies %>
      <% @companies.each do |company| %>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-2 d-none d-md-block">
            <div class="card-body">
              <div>
                <%= image_tag company.logo.url, class: 'img-fluid rounded mx-auto d-block', width: "150" if company.logo.present? %>
                <%= image_tag("default_image.jpeg", class: 'img-fluid rounded', width: "150") unless company.logo.present? %>
              </div>
              <div class="text-left">
                <h6 class="mt-1"><%= link_to(company.name || "No Name", company_path(company.id)) %></h6>
              </div>
            </div>
          </div>
          <div class="d-block d-md-none">
            <div class="card-body row pb-0">
              <div class="col-auto">
                <%= image_tag company.logo.url, class: 'img-fluid rounded mx-auto d-block', width: "50" if company.logo.present? %>
                <%= image_tag("default_image.jpeg", class: 'img-fluid rounded', width: "50") unless company.logo.present? %>
              </div>
              <div class="col-auto">
                <h6 class="mt-1"><%= link_to company.name, company_path(company.id) %></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="card-body">
              <span class="mr-2"><i class="fas fa-map-marker-alt mr-2 green"></i><%= company.location %></span>
              <i class="fas fa-flag green"></i>
              <span class="card-text mr-2"><strong>Incorporation: </strong><%= company.date_of_incorporation.strftime("%d %b, %Y") if company.date_of_incorporation %></span>

              <span class="text-nowrap">
              <strong><i class="fas fa-industry green"></i> Industry: </strong>
              <% company.industries.each do |industry| %>
              <span class="card-text  badge badge-light">
                <%= industry.name %>
              </span>
              <% end %>
              </span>

              <span class="text-nowrap"><i class="fas fa-users mr-1 green"></i><strong>Employees:</strong><%= company.number_of_employees.to_s(:delimited) if company.number_of_employees.present? %></span>

              <strong><i class="fas fa-coins mr-1 green"></i>Capital</strong>
              <span><%= company.paid_up_capital.to_s(:delimited) if company.paid_up_capital.present? %></span>
              <div class="mt-2">
                <p>
                  <%= strip_tags(company.description.gsub(/(\s)/,"")).truncate(160) if company.description.present? %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @companies %>
    </div>
  </div>
</div>
