<div class="container-fluid d-md-none">
  <div class="row">
    <%= image_tag(@company.header_image.url, class: "img-fluid", width:"1500px") if @company.header_image.present? %>
    <%= image_tag("default_header_image.jpeg", class: "img-fluid") unless @company.header_image.present? %>
  </div>
</div>
<div class="container">
  <div class="row d-flex mt-1">
    <div class="col-2 align-self-start text-right">
      <%= image_tag(@company.logo.url, class: 'rounded-circle',width: "70px") if @company.logo.present? %>
      <%= image_tag("default_image.jpeg", class: '', width: "70px") unless @company.logo.present? %>
    </div>
    <div class="col-10 col-md-3">
      <h4>
        <%= @company.name %>
      </h4>
      <p>
        <% if user_signed_in? %>
        <% if current_user.follows.pluck(:company_id).include?(@company.id) %>
        <%= link_to "フォロー解除", follow_path(company_id: @company.id), method: :delete, class: "btn btn-outline-dark btn-sm" %>
        <% else %>
        <%= link_to "フォロー", follows_path(follow:{user_id: current_user.id, company_id: @company.id}), method: :post, class: "btn btn-outline-dark btn-sm" %>
        <% end %>
        <% end %>
        <span><i class="fas fa-map-marker-alt mr-1"></i>
          <%= @company.location %>
        </span>
        <span><i class="fas fa-industry"></i>Industry:
          <span class = "badge badge-secondary">
            <% @company.industries.each do |industry| %>
            <%= industry.name %>
            <% end %>
          </span>
        </span>
      </p>
    </div>
    <div class="col-md-7 mb-1 pb-1 d-flex justify-content-around align-items-center">
      <span>Incorporation: <%= @company.date_of_incorporation.strftime("%b, %Y") if @company.date_of_incorporation %></span>
      <span>No. of Employees: <%= @company.number_of_employees %></span>
      <span>Address: <%= @company.address %></span>
      <span>Paid up capital: <%= @company.paid_up_capital %></span>
    </div>
  </div>
</div>
<div class="container-fluid d-none d-md-block">
  <div class="row">
    <%= image_tag(@company.header_image.url, class: "img-fluid", width:"1500px") if @company.header_image.present? %>
    <%= image_tag("default_header_image.jpeg", class: "img-fluid") unless @company.header_image.present? %>
  </div>
</div>
<div class="container">
  <%= raw @company.description %>
  <div class="row mt-3">
    <h3>List of Posts</h3>
    <table class = "table table-bordered">
      <thead class= "thead-dark">
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Position</th>
          <th>Job Category</th>
          <th>Salary</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        <% if @company.posts.present? %>
          <% @company.posts.each_with_index do |post,i| %>
          <tr>
            <th><%= i+1 %></th>
            <td><%= post.title %></td>
            <td><%= post.position %></td>
            <td><%= post.job_categories.first.name if post.job_categories.present? %></td>
            <td><%= post.salary %></td>
            <td><%= link_to "Detail", post_path(post.id) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">Currently there are no posts.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
