<div class="container-fluid bg-dark py-2 mb-3">
  <div class="container">
    <div class="text-light"><%= "Company: #{@apply.post.company.name}" if current_user %></div>
    <div class="text-light"><%= "Candidate: #{@apply.user.first_name}" if current_company %></div>
    <div class="text-light">Post Title: <%= @apply.post.title%></div>
  </div>
</div>
<div class="container">
  <div id="messages_area">
    <%= render partial: 'messages', locals: { messages: @messages, apply: @apply } %>
  </div>

  <%= form_with(model: [@apply, @message]) do |f|  %>
  <div class="row">
    <div class="col-8 offset-2">
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :company_id, value: @apply.post.company_id, type: "hidden"  if company_signed_in? %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  if user_signed_in? %>
    <div>
      <br>
      <%= f.submit "Send message", class: "btn btn-primary" ,id: "new_message" %>
    </div>
  </div>
  </div>
  <% end %>
  <br>
</div>
