<div class="container">
  <h1><%= controller.action_name == "new" ? "New" : "Edit" %></h1>
  <div id="error_explanation">
    <% if @post.errors.any? %>
      <h2><%= pluralize(@post.errors.count, "error") %>prohibited this @post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <%= form_with(model: @post, local: true) do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :salary %>
      <%= f.text_field :salary, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :number_of_recruits %>
      <%= f.text_field :number_of_recruits, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :position %>
      <%= f.text_field :position, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_area :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, Post.statuses.keys,{}, class: "form-control" %>
    </div>

    <div class="form-group post_skills">
      <%= f.fields_for :post_skills do |builder| %>
        <%= render 'posts/post_skill_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "追加", f, :post_skills %>
    </div>

    <div class="form-group post_industries">
      <%= f.fields_for :post_industries do |builder| %>
        <%= render 'posts/post_industry_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "追加", f, :post_industries %>
    </div>

    <div class="form-group post_job_categories">
      <%= f.fields_for :post_job_categories do |builder| %>
        <%= render 'posts/post_job_category_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "追加", f, :post_job_categories %>
    </div>

    <%= f.hidden_field :company_id, :value => @company.id %>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
