<div class ="container">
  <%= search_form_for @q do |f| %>
  <%= f.label :title_or_position_or_description_cont, "Key Word" %>
  <%= f.search_field :title_or_position_or_description_cont %>
  <br>
  <%= f.label :industries_id_in, "Industryを含む" %>
  <% @industries.each do |industry| %>
  <%= f.check_box :industries_id_in, {multiple: true, include_hidden: false}, industry.id %>
  <%= industry.name %>
  <% end %>
  <br>
  <%= f.label :job_categories_id_in, "Job Categoryを含む" %>
  <% @job_categories.each do |job_category| %>
  <%= f.check_box :job_categories_id_in, {multiple: true, include_hidden: false}, job_category.id %>
  <%= job_category.name %>
  <% end %>
  <br>
  <%= f.label :salary %>
  <%= f.number_field :salary_gteq %>以上〜
  <%= f.number_field :salary_lt %>未満
  <br>
  <%= f.label :number_of_recruits %>
  <%= f.number_field :number_of_recruits_gteq %>以上〜
  <%= f.number_field :number_of_recruits_lt %>未満
  <br>
  <%= f.label :location %>
  <%= f.search_field :location_cont %>
  <br>
  <%= f.label :company_location %>
  <%= f.search_field :company_location_cont %>
  <br>
  <%= f.label :company_number_of_employees %>
  <%= f.number_field :company_number_of_employees_gteq %>以上〜
  <%= f.number_field :company_number_of_employees_lt %>未満
  <br>
  <%= f.label :company_paid_up_capital %>
  <%= f.number_field :company_paid_up_capital_gteq %>以上〜
  <%= f.number_field :company_paid_up_capital_lt %>未満
  <br>
  <div class="actions"><%= f.submit "検索" %></div>

  <% end %>


  <%= paginate @posts %>
  <% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="card-body">
        <h4 class="card-title"><%= link_to post.title, post_path(post.id), class: "card-link text-primary" %></h4>
        Position: <span class="badge badge-primary"><%= post.position %></span>
        Location: <span class="badge badge-primary"><%= post.location %></span>
        Job Category:
        <% post.job_categories.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        Industry:
        <% post.industries.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        Salary
        <span class="badge badge-primary">
          <%= post.salary %>
        </span>

        Skill:
        <% post.skills.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        <p class="card-subtitle"><%= post.description %></p>
      </div>
    </div>
    <div class="card-footer row no-gutters d-flex align-items-center">
      <div class="col">

        <%= image_tag post.company.logo.url, class: 'img-thumbnail', width: "50px" if post.company.logo.present? %>
        <%= image_tag "default_image.jpeg", class: 'img-thumbnail', width: "50px" unless post.company.logo.present? %>
        <span class="card-text"><%= link_to post.company.name, company_path(post.company_id), class: 'text-info' if post.company.name %></span>
      </div>
      <div class="col text-right">
        <span class="card-text text-muted small">Posted: <%= post.created_at.strftime("%Y%b%d") %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
