<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="card-body">
        <h4 class="card-title"><%= link_to @post.title, post_path(@post.id), class: "card-link text-primary" %></h4>
        Position: <span class="badge badge-primary"><%= @post.position %></span>
        Location: <span class="badge badge-primary"><%= @post.location %></span>
        Job Category:
        <% @post.job_categories.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        Industry:
        <% @post.industries.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        Salary
        <span class="badge badge-primary">
          <%= @post.salary %>
        </span>

        Skill:
        <% @post.skills.each do |n| %>
        <span class="badge badge-primary">
          <%= n.name %>
        </span>
        <% end %>

        <p class="card-subtitle"><%= @post.description %></p>
      </div>
    </div>
    <div class="card-footer row no-gutters d-flex align-items-center">
      <div class="col">

        <%= image_tag @post.company.logo.url, class: 'img-thumbnail', width: "50px" if @post.company.logo.present? %>
        <%= image_tag "default_image.jpeg", class: 'img-thumbnail', width: "50px" unless @post.company.logo.present? %>
        <span class="card-text"><%= link_to @post.company.name, company_path(@post.company_id), class: 'text-info' if @post.company.name %></span>
      </div>
      <div class="col text-right">
        <span class="card-text text-muted small">Posted: <%= @post.created_at.strftime("%Y%b%d") %></span>
      </div>
    </div>
  </div>

  <table class= "table table-bordered table-hover">
    <span>
      <h4>List of Candidate
        <small>(<%= @post.applies.count %> People)</small>
      </h4>
    </span>

    <thead class="thead-dark">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Last_company</th>
        <th>Position</th>
        <th>Expected Salary</th>
        <th>Education School</th>
        <th>Education Major</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <% @post.applies.each_with_index do |apply,i| %>
      <% user = apply.user %>
      <tr>
        <th><%= i + 1 %></th>
        <td><%= link_to user.first_name, user_path(user.id) %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.work_experiences.last.company if user.work_experiences.present? %></td>
        <td><%= user.work_experiences.last.position if user.work_experiences.present? %></td>
        <td><%= user.expected_salary %></td>
        <td><%= user.educations.last.school_name if user.educations.present? %></td>
        <td><%= user.educations.last.major if user.educations.present? %></td>
        <td><button type="button" class = "btn" data-toggle="modal" data-target = "#statusModal"><%= apply.status %></button></td>
        <td><%= link_to(apply_apply_messages_path(apply.id)) do %>
          <button type="button" class = "btn btn-primary">
            <span>
            <span class="small">Message</span><span class="badge badge-light"><%= apply.apply_messages.where(read: false, user_id: user.id).count %></span>
            </span>
          </button>
          <% end %>
        </td>
      </tr>
      <div class="modal" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render partial: './applies/edit', locals: { apply: apply } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </table>
</div>
