<div class="container">
  <div class="card mb-3">
    <div class="card-header">
      Post Info
    </div>
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="pl-3">
          <h6 class="card-title"><%= link_to @post.company.name, company_path(@post.company_id) if @post.company.name %></h6>
          <p>
            <%= link_to "detail", post_path(@post.id) %>
          </p>
          <p>
            <%= @post.title %>
          </p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">xxx</h6>
                  <p class="card-text">xxx</p>
                  <p>salary: <%= @post.salary %></p>
                  <p>number_of_recruits: <%= @post.number_of_recruits %></p>
                  <p>position: <%= @post.position %></p>
                  <p>description: <%= @post.description %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">xxx</h6>
                  <p class="card-text">xxx</p>
                  <p>location: <%= @post.location %></p>
                  <p>Industry:</p>
                  <% @post.industries.each do |n| %>
                  <p><%= n.name %></p>
                  <% end %>
                  <p>Job Category:</p>
                  <% @post.job_categories.each do |n| %>
                  <p><%= n.name %></p>
                  <% end %>

                  <p>Skill:</p>
                  <% @post.skills.each do |n| %>
                  <p><%= n.name %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class= "table">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Last_company</th>
      <th>Position</th>
      <th>Expected Salary</th>
      <th>Education School</th>
      <th>Education Major</th>
    </tr>
    <% @post.applies.each do |apply| %>
      <% user = apply.user %>
      <tr>
        <th></th>
        <td><%= user.first_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.work_experiences.last.company %></td>
        <td><%= user.work_experiences.last.position %></td>
        <td><%= user.expected_salary %></td>
        <td><%= user.educations.last.school_name %></td>
        <td><%= user.educations.last.major %></td>
        <td><%= link_to "M", apply_apply_messages_path(apply.id) %></td>
        <td><%= apply.apply_messages.where(read: false).count %></td>
      </tr>
    <% end %>
  </table>
</div>
