<div class="ui segment">
  <% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
  <% end %>
  <% last_sender = nil %>
  <% messages.each do |message| %>
    <% if message.body.present? && message.user_id.present? %>
      <div class="row d-flex">
        <div class="col-2">
          <div class="text-right">
            <% if last_sender != message.scout.user.first_name %>
            <%= image_tag(message.scout.user.image.url || "default_image.jpeg", width: "70px") %>
            <% end %>
          </div>
        </div>
        <div class="col-7">
          <% if last_sender != message.scout.user.first_name %>
          <%= link_to message.scout.user.first_name, user_path(message.scout.user.id) %>
          <% end %>

          <div class="card">
            <div class="card-body">
              <%= message.body %>
            </div>
          </div>
        </div>
        <div class="col-3 align-self-end">
          <%= message.message_time %>
          <% if user_signed_in? %>
          <%= message.read ? '既読' : '未読' %>
          <% end %>
        </div>
      </div>
      <br>
      <% last_sender = message.scout.user.first_name %>
    <% end %>
    <% if message.body.present? && message.company_id.present? %>
      <div class="row d-flex flex-row-reverse">
        <div class="col-2">
          <% if last_sender != message.scout.company.name %>
          <%= image_tag(message.scout.company.logo.url || "default_image.jpeg", width: "70px") %>
          <% end %>
        </div>
        <div class="col-7">
          <div class="text-right">
            <% if last_sender != message.scout.company.name %>
            <%= message.scout.company.name %>
            <% end %>
          </div>
          <div class="card bg-light">
            <div class="card-body">
              <%= message.body %>
            </div>
          </div>
        </div>
        <div class="col-3 align-self-end text-right">
          <% if company_signed_in? && message.company_id.present? %>
            <%= message.read ? '既読' : '未読' %><br>
          <% end %>

          <%= message.message_time %>
        </div>
      </div>
      <br>
      <% last_sender = message.scout.company.name %>
    <% end %>
  <% end %>
</div>
