<div class="container">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      aa
    </div>
    <div class="card-body">
      <ul class = "list-unstyled">
        <li>
          <%= link_to "Control Company", admin_companies_path %>
        </li>
        <li>
          <%= link_to "Control User", admin_users_path %>
        </li>
        <li>
          <%= link_to "Control Post", admin_posts_path %>
        </li>
        <li>
          <%= link_to "Control Scout", admin_scouts_path %>
        </li>
        <li>
          <%= link_to "Control Scout Messages", index_all_admin_scout_messages_path %>
        </li>
      </ul>
    </div>

  </div>

</div>
