<!DOCTYPE html>
<html>
  <head>
    <title>JobMatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "users_index", users_path, {class: "nav-link"}%>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to 'Dashboard', dashboard_user_path(current_user.id), {class: "nav-link"}  %>
            <% end %>
            <% if company_signed_in? %>
              <%= link_to 'Dashboard', dashboard_company_path(current_company.id), {class: "nav-link"}  %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Scouts', scouts_path, {class: "nav-link"}  %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to 'Users', users_path, {class: "nav-link"}  %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <%= link_to "#{current_user.first_name}", user_path(current_user.id), {class: "dropdown-item"} if current_user %>
              <%= link_to "Dashboard #{current_company.name}", company_path(current_company.id), {class: "dropdown-item"} if current_company %>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
          <% if controller.action_name == "landing" %>
            <li class="nav-item">
              <%= link_to 'Log-In', new_user_session_path, {class: "nav-link"} unless user_signed_in? %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign-Up', new_user_registration_path, {class: "nav-link"} unless user_signed_in? %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to 'Log-out', destroy_user_session_path, {method: :delete, class: "nav-link"} if user_signed_in? %>
          </li>

          <% if controller.action_name == "landing_for_company" %>
          <li class="nav-item">
            <%= link_to 'C Log-In', new_company_session_path, {class: "nav-link"} unless company_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to 'C Sign-Up', new_company_registration_path, {class: "nav-link"} unless company_signed_in? %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'C Log-out', destroy_company_session_path, {method: :delete, class: "nav-link"} if company_signed_in? %>
          </li>

          <li class="nav-item">
            <%= link_to 'For Employer', landing_for_company_statics_path, class: "nav-link" %>
          </li>

        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% flash.each do |key, value| %>
      <div class="alert alert-info">
        <%= content_tag(:div, value, class: "#{key}") %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
